{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:vue/vue3-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "overrides": [],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.eslint.json",
    "extraFileExtensions": [".vue"]
  },
  "plugins": ["vue", "@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": "warn",
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "^@/",
          "./virtual:windi",
          "./virtual:windi-base",
          "./virtual:windi-components",
          "./virtual:windi-utilities"
        ]
      }
    ],
    "import/extensions": [
      "error",
      "never",
      {
        "vue": "always"
      }
    ],
    "import/prefer-default-export": ["off", { "target": "single" }]
  }
}
